a {
  color: #00a1ff;
}
h1 {
   color: #00a1ff;
}
h2 {
   color: #00a1ff;
}
h3 {
   color: #00a1ff;
}
p {
   color: #00a1ff;
}              
#copyright {
   color: #00a1ff;
   position: absolute;
   bottom: 0;        
   right: 0;
   text-align: right;
}
#musicplayer {
  left: 0;
  position: absolute;
  bottom: 0;
}
